In [10]:
import pandas as pd

In [11]:
import math

Function for calculating the distance in MPC

In [29]:
def M(p,m):
  M= (-2.5802*(math.log(p, 10))- 1.4335)
  return (10**((m-M+5)/5))/10**6

In [43]:
M(29, 26.45)

21.446472148279113

In [44]:
from scipy.stats import sem

Finding uncertainity using standard deviation

In [45]:
d= [14.40, 20.04, 18.92, 16.13, 21.69, 21.44]

In [51]:
data= pd.DataFrame(d, columns = ['distance(in MPC)'])

In [46]:
sem(d)

1.202181350712113

Average of distance

In [48]:
sum(d)/len(d)

18.77

In [53]:
data

   distance(in MPC)
0             14.40
1             20.04
2             18.92
3             16.13
4             21.69
5             21.44